{% extends "base.html" %}

{% block content %}

<h2>Recently Watched Movies</h2>

{% for movie in recently_watched_movies %}
    <p><em>{{ movie.owner.username }}</em> watched <strong>{{ movie.title }}</strong>
    {% if movie.rating %}
        who gave it a rating of <strong>{{ movie.rating }}</strong>
    {% endif %}

{% endfor %}
<!--
TODO 5
Implement this template!
For each movie in the list, display the username of whoever watched it and what rating they gave.
    e.g. Jesse watched The Big Green, and gave it a rating of ***** stars.
-->

{% endblock %}
